#content {
    height: 500px;
    width: 400px;
    border: 1px solid silver;

    overflow-y: auto;		/* scroll bar */
    word-wrap: break-word;	/* hyphenation */
}

#inputField {
    /*width: 500px;*/
}